/**** Debug ****/

/**** Body ****/

body{
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 0;
}

/***** Header ******/ 

header{
    height: 70px;
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    background-color: #f8f9fa;
}

header ._ms-mobile-logo{
    width: 2.1875rem;
}

header ._ms-logo{
   width: 132px;
}

header ._ms-search-bar{
    background-color: #ffffff;
    margin-top: 0.625rem;
}

header ._ms-search-bar input{
    background-color: #e5e5e5;
    border-color: #e5e5e5;
}

header ._ms-search-bar input::placeholder{
    font-size: 12px;
}

header ._ms-search-bar input:hover{
    background-color: #e5e5e5;
}

header #_ms-basic-addon1{
    background-color: #e5e5e5;
    border-color: #e5e5e5;
    font-size: 12px;
    padding-right: 0px;
    padding-left: 8px;
}

header #_ms-dropdownMenuButton i{
    color: #ff8f00;
}

header .btn{
    border: 0;
}

header .btn i{
    color: #5b5858;
}
/***** Main ******/ 

main{
    padding-top: 70px;
    padding-left: calc(100vw - 90%);
    overflow-x: hidden;
}

/***** Main - Sidebar ******/ 

main .sidebar{
    width: 10%;
    position: fixed;
    top: 70px;
    bottom: 0;
    left: 0;
    background-color: #051e34;
}

main .sidebar button:hover{  /* TO DO: METTERE BUTTON DENTRO UN DIV ED APPLICARE AD ESSO L'EFFETTO HOVER*/
    background-color: rgba(255, 255, 255, .5);
    border-radius: 0;
}

main .sidebar span,
main .dashboard-header span{
    font-size: 12px;
}

/***** Main - Dashboard - Header ******/ 

main #_ms-badge{
    font-size: 8px;
    border-radius: 20px;
    background-color: #165bba;
}


